<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">About us:</h1>
        </div>
        <div class="col-lg-9">
            <div class="card mt-4">
                <p>
                    Somos una empresa mexicana que se dedica a la venta de productos nacionales de una manera divertida
                    y muy original. Con nuestros productos siempre te podrás llevar una sorpresa y encontrar un dulce
                    que tal vez no conocieras. Con nosotros puedes tener la seguridad de que vas a tener un producto de
                    calidad, bien cuidado y vas a poder tenerlo a la orden del día, ya que nuestro servicio está ahí
                    para tí 24/7
                </p>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">Sobre nuestros productos</div>
                <div class="card-body">
                    <p>Tenemos 3 tamaños disponibles para nuestras cajas misteriosas: Chica, Mediana y Grande. Cada una
                        de ellas vendra con una cantidad determinada de productos dentro de ella, podiendo asegurar que
                        lo que venga adentro de la caja va a ser el mismo valor que tú estés pagando.</p>
                    <hr />
                    <p class="center">
                        <img class="img"
                            src="https://http2.mlstatic.com/caja-misteriosa-mystery-box-D_NQ_NP_691687-MLM26069079135_092017-F.jpg"
                            alt="">
                    </p>
                    <hr />
                    <p>Si acudes a nosotros es porque conseguiste una buena recomendación o porque sabes que somos los
                        mejores en lo que hacemos! ¿A que esperas? Llevate una sorpresa</p>
                </div>
            </div>
        </div>
    </div>
</div>