<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Elige un tamaño:</h1>
            <div class="list-group">
                <a class="list-group-item active" [routerLink]="['/home']" (click)="showCajaGrande()">Caja grande</a>
                <a class="list-group-item" [routerLink]="['/home']" (click)="showCajaMediana()">Caja mediana</a>
                <a class="list-group-item" [routerLink]="['/home']" (click)="showCajaPeque()">Caja pequeña</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="https://via.placeholder.com/900x400" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">{{nombreProducto}}</h3>
                    <h4>{{precio}}</h4>
                    <p class="card-text">{{descripcion}}</p>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">¿Qué esperas? ¡Compra ahora!</div>
                <div class="card-body">

                    <a class="btn btn-info" href="#!">Comprar ahora</a>
                </div>
            </div>
            <div id="scrollable" class="card card-outline-secondary my-4">
                <div class="card-header">Reviews</div>
                <div class="card-body" style="overflow: scroll;">

                    <div *ngFor="let review of reviews">
                        <p>{{review}}</p>
                        <small class="text-muted">Posted by Alejandro on 3/1/21</small>
                        <hr />
                    </div>

                </div>
                <div class="reviewInputAndButton input-group">
                    <textarea class="form-control" rows="3" #newReview (keyup.enter)="addReview(newReview.value)"
                        (blur)="addReview(newReview.value); newReview.value='' "></textarea>

                    <button (click)="addReview(newReview.value)" class="btn btn-outline-info">Compartir reseña</button>

                </div>
            </div>
        </div>
    </div>
</div>