<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Elige un tamaño:</h1>
            <div class="list-group">
                <a class="list-group-item active" [routerLink]="['/home']" (click) = "showCajaGrande()">Caja grande</a>
                <a class="list-group-item" [routerLink]="['/home']" (click) = "showCajaMediana()">Caja mediana</a>
                <a class="list-group-item" [routerLink]="['/home']" (click) = "showCajaPeque()">Caja pequeña</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="https://via.placeholder.com/900x400" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">{{nombreProducto}}</h3>
                    <h4>{{precio}}</h4>
                    <p class="card-text">{{descripcion}}</p>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">A que esperas? Compra ahora!</div>
                <div class="card-body">

                    <a class="btn btn-success" href="#!">Comprar ahora</a>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">Reviews</div>
                <div class="card-body">
                    <p>Buenísimo</p>
                    <small class="text-muted">Posted by Anahí on 3/1/21</small>
                    <hr />
                    <p>Tenía muchos productos interesantes que no conocía. Soy chilena y vivo en México, pero
                        definitivamente me ayuda a conocer la cultura culinaria de una manera muy original y divertida.
                        Super recomendado</p>
                    <small class="text-muted">Posted by Miguel on 3/1/21</small>
                    <hr />
                    <p>Al inicio tenía miedo porque no sabía que era lo que iba a venir, pero al recibirla me puse muy
                        contento con mi compra, me gustó mucho el resultado,</p>
                    <small class="text-muted">Posted by Alejandro on 3/1/21</small>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>